[user]
	name = Marin Valenčak
	email = valencakmarin@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
    program = C:/Program Files/Git/usr/bin/gpg.exe
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[include]
	path = ~/.config/git/aliases.conf
	path = ~/.config/delta/delta.conf
    path = ~/.config/git/signingkey.conf
[core]
	editor = nvim
[diff]
	tool = nvimdiff
	algorithm = histogram
[merge]
	tool = nvimdiff2
[difftool]
	prompt = false
