[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:Kailu23/dotfiles-nvim.git
	branch = main
    ignore = dirty
[submodule "wezterm"]
	path = .config/wezterm
	url = git@github.com:Kailu23/dotfiles-wezterm.git
	branch = main
    ignore = dirty
[submodule "bash"]
	path = .config/bash
	url = git@github.com:Kailu23/dotfiles-bash.git
	branch = main
    ignore = dirty
