.android/
.bash_history
.bash_profile
.cache/
.config/
.dbus-keyrings/
.dotnet/
.emulator_console_auth_token
.gnupg/
.gradle/
.jdks/
.lesshst
.minttyrc
.nuget/
.skiko/
.ssh/
.viminfo
.vscode/
AMDRM_Install.log
AMD_RMInstallUtil_Log.txt
AMD_RyzenMaster.log
AMD_Ryzen_Master_Installer_UI_Log.txt
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{946efced-00eb-11f0-915a-60cf845f6056}.TM.blf
NTUSER.DAT{946efced-00eb-11f0-915a-60cf845f6056}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{946efced-00eb-11f0-915a-60cf845f6056}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
PycharmProjects/
Saved Games/
Searches/
StudioProjects/
Videos/
curseforge/
java_error_in_studio.hprof
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
source/

