**
.config/**

# Don't ignore
!.config/
!.config/bash
!.config/delta
!.config/git
!.config/nvim
!.config/wezterm
!.config/tmux/tmux.conf

.config/configstore

.config/git/gitk
.config/git/signingkey.conf
