[user]
	name = Marin Valenčak
	email = valencakmarin@gmail.com
	signingkey = 5CBCB940F9D170DF
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
    program = ~/.config/git/gpg-wrapper.sh
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[include]
	path = ~/.config/git/aliases.conf
	path = ~/.config/delta/delta.conf
[core]
	editor = 'C:\\Program Files\\Neovim\\bin\\nvim.exe'
[diff]
	tool = nvimdiff
	algorithm = histogram
