[user]
	name = Marin Valenčak
	email = valencakmarin@gmail.com
	signingkey = 5CBCB940F9D170DF
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = C:/Program Files/Git/usr/bin/gpg.exe
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[include]
	path = ~/.gitconfig.d/aliases.conf
	path = ~/.delta/delta.conf
[core]
	editor = 'C:\\Program Files\\Neovim\\bin\\nvim.exe'
