[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:Kailu23/dotfiles-nvim.git
	branch = main
    ignore = dirty
[submodule "wezterm"]
	path = .config/wezterm
	url = git@github.com:Kailu23/dotfiles-wezterm.git
	branch = main
    ignore = dirty
[submodule "zsh"]
	path = .config/zsh
	url = git@github.com:Kailu23/dotfiles-bash.git
	branch = main
    ignore = dirty
[submodule "hypr"]
	path = .config/hypr
	url = git@github.com:Kailu23/dotfiles-hypr.git
	branch = main
    ignore = dirty
[submodule "noctalia"]
	path = .config/noctalia
	url = git@github.com:Kailu23/dotfiles-noctalia
	branch = main
    ignore = dirty
